<link rel="stylesheet" type="text/css" href="../assets/sandbox-header.css">

<div class="container-fluid global-header sandbox-header">
  <div class="alert">
    <p>This sandbox is provided as an open play space to try out ArchivesSpace using the latest released version. Anyone can access the data entered here and all data is cleared out very frequently. Do not use this sandbox for anything you need to keep or don’t want others to see. Please contact us at <a href="mailto:ArchivesSpaceHome@lyrasis.org?subject=ArchivesSpace%20Sandbox" target="_blank" rel="noopener">ArchivesSpaceHome@lyrasis.org</a> if you have questions.</p>
  </div>
</div>
